.header_section__container{
    min-height: 100vh;
    width: 100%;
    background: url('../assets/mainBG.png') no-repeat center/cover;
    margin-top: 152px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
.header_section__header{
    padding: 200px 16px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1230px;
}
.header_section__header h1{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.header_section__intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 100px;
    max-width: 1230px;
}
.header_section__intro img{
    height: max-content;
    width: 50%;
}
.header_section__intro div h2{
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-bottom: 20px;
}
.header_section__intro div p{
    font-size: 0.75rem;
    line-height: 1.65rem;
}

@media screen and (max-width: 800px) {
    .header_section__container{
        margin-top: 112px;
    }
    .header_section__header{
        margin-bottom: 150px;
        text-align: center;
    }
    .header_section__intro{
        flex-direction: column;
        margin-bottom: 50px;
        align-items: center;
    }
    .header_section__intro img{
        width: 100%;
    }
    .header_section__intro div h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 20px;
    }
    .header_section__intro div p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
}